body{
    background-color: #ffffff;
}
/*first page --- buttonPgView---------------------------------*/
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.button-page{
    width: 700px;
    height: 700px;
    display: flex;
}
.button-page img{
    width: 700px;
    position: absolute;
    top: 5vh;
}
.button {
    position: relative;
    height: 150px;
    top: 40vh;
    border: none;
    color: #ffffff;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }
  /*listPgView---------list page----------------------*/
  .list {
      display: flex;
      font-size: 2rem;
      width: 20vw;
      margin: 0;
      padding: 0;
  }
  .list ul{
    list-style-type: none;
  }
  .list h2{
      text-align: center;
  }
  .list li{
      width: 20vw;
      border: 2px solid black;
      text-align: center;
  }
  #returnbtn{
      font-size: 2rem;
  }
  /* PictureMode page */
  .picture-page{
    width: 700px;
    height: 700px;
    display: flex;
  }
  .buttonPic{
    position: relative;
    height: 150px;
    top: 40vh;
    border: none;
    color: #ffffff;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  