body{
    background-color: #ffffff;
}

/* First page */

  .box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  * {
    font-family: 'Montserrat';
  }

  .button-page{
      width: 700px;
      height: 700px;
      display: flex;
  }
  .button-page img{
      width: 700px;
      position: absolute;
      top: 5vh;
  }
  .button {
      position: relative;
      height: 150px;
      top: 40vh;
      border: none;
      color: #ffffff;
      padding: 12px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 3rem;
      margin: 4px 2px;
      transition-duration: 0.4s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    }

  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }
  
  /* List pagemode */

  .list {
    display: flex;
    font-size: 2rem;
    width: 20vw;
    margin: 0;
    padding: 0;
  }
  
  .list ul{
    list-style-type: none;
  }

  .list h2{
    text-align: center;
  }

  .list li{
    width: 20vw;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
  }

  #returnbtn{
    font-size: 2rem;  
  }

  #list-info h1{
    font-size: 4rem;
    text-align: center;
    font-family: 'Permanent Marker';
  }

  #list-info h2{
    font-size: 3rem;
    display: block;
    text-align: center;
    font-style: bold;
    font-family: 'Montserrat';
  }

  #list-info img{
    position: absolute;
    height: 280px;
    width: 450px;
    top: 61vh;
    left: 20vw;
  }

  #pic-info img{
    position: relative;
    height: 280px;
    width: 450px;
    top: 0vh;
    left: 0vw;
  }

  #list-info {
    position: absolute;
    top: 0vh;
    left: 35vw;
    height: 70vh;
    width: 60vw;
  }
  #list-info p{
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat';
  }

  /* PictureMode page */

  #picReturnbtn {
    position: relative;
    font-size: 2rem;
    height: 50px;
    left: -26.7vw;

  }

  .picture-page{
    width: 700px;
    height: 700px;
    display: flex;
  }

  .buttonPic{
    position: relative;
    height: 80px;
    top: 3vh;
    right: -15vw;
    border: none;
    color: black;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .buttonPicQuiz{
    position: relative;
    height: 80px;
    top: -10vh;
    right: -15vw;
    border: none;
    color: black;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  #pic-info h1 {
    font-size: 4rem;
    font-family: 'Permanent Marker';
  }

  #pic-info h2 {
    font-size: 3rem;
    font-family: 'Montserrat';
    font-style: bold;
  }

  #pic-info {
    position: absolute;
    top: 15vh;
    left: 63vw;
    height: 70vh;
    width: 35vw;
    text-align: center;
    font-size: 2rem;
  }

  #quiz-info {
    position: absolute;
    top: 15vh;
    left: 63vw;
    height: 70vh;
    width: 35vw;
    text-align: center;
    font-size: 2rem;
  }


/* Cow photo */

  .chosen{
    color: black;
  }

  .not-chosen{
    color: gray;
  }

  .selected {
    color: black;
  }

  .not-selected {
    visibility: hidden;
  }

  .defaultChosen{
    color: black;
  }

  .chuck {
    position: relative;
    transform: scale(1.3);
    top: -14.6vh;
  }

  .chuck-txt{
    position: absolute;
    top: 14vh;
    left: 16vw;
    font-size: 2rem;
    cursor: pointer;
  }

  .brisket {
    position: absolute;
    top: 2vh;
    right: 50.7vw;
  }
  
  .brisket-txt {
    position: absolute;
    top: 29vh;
    left: 17vw;
    font-size: 2rem;
    cursor: pointer;
  }

  .rib {
    position: absolute;
    top: -12.5vh;
    right: 40.7vw;
    
  }

  .rib-txt {
    position: absolute;
    top: 15vh;
    left: 28vw;
    font-size: 2rem;
    cursor: pointer;
  }

  .plate {
    position: absolute;
    top: 2.1vh;
    right: 40.9vw;
  }

  .plate-txt {
    position: absolute;
    top: 29vh;
    left: 27vw;
    font-size: 2rem;
    cursor: pointer;
  }

  .shortloin {
    position: absolute;
    top: -12.5vh;
    right: 31.15vw;
  }

  .shortloin-txt {
    position: absolute;
    font-size: 1.7rem;
    cursor: pointer;
    top: 17vh;
    left: 36vw;
  }

  .flank {
    position: absolute;
    top: 1.4vh;
    right: 28.78vw;
  }

  .flank-txt {
    position: absolute;
    font-size: 2rem;
    cursor: pointer;
    top: 28.5vh;
    left: 37vw;
  }

  .tenderloin {
    position: relative;
    top: -18vh;
    right: 27.2vw;
  }

  .tenderloin-txt {
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
    top: 10.75vh;
    left: 40.5vw;
    transform: rotate(-10deg);
  }

  .sirloin {
    position: absolute;
    top: -21.7vh;
    right: 25.1vw;
  }

  .sirloin-txt {
    position: absolute;
    font-size: 1.7rem;
    cursor: pointer;
    top: 6.3vh;
    left: 42.5vw;
    transform: rotate(-10deg);
  }

  .topSirloin {
    position: absolute;
    top: -14.3vh;
    right: 23.9vw;
  }

  .topsirloin-txt {
    position: absolute;
    font-size: 1.3rem;
    cursor: pointer;
    top: 14vh;
    left: 42.7vw;
    transform: rotate(-8deg);
  }

  .bottomSirloin {
    position: absolute;
    top: -4.6vh;
    right: 23.9vw;
  }

  .bottomsirloin-txt {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    top: 22.5vh;
    left: 41.7vw;
    transform: rotate(49deg);
  }

  .round {
    position: absolute;
    top: -11.3vh;
    right: 18vw;
  }

  .rounds-txt {
    position: absolute;
    cursor: pointer;
    font-size: 2rem;
    top: 17vh;
    left: 49.55vw;
  }

  .shankF {
    position: absolute;
    top: 10.7vh;
    right: 48.5vw; 
  }

  .shankF-txt {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    top: 38.1vh;
    left: 19.3vw;
    transform: rotate(40deg);
  }

  .shankR {
    position: absolute;
    top: 6.7vh;
    right: 18.3vw;
  }

  .shankR-txt {
    position: absolute;
    top: 34vh;
    left: 50vw;

  }

  #cow {
    position: absolute;
    top: 200px;
  }

  /* QuizMode Page */

  #quiz-info img{
    position: relative;
    height: 280px;
    width: 450px;
    top: 0vh;
    left: 0vw;
  }

